<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>img list</title>
    
    <link href="http://jic.makepolo.net/css/admin/css.css" rel="stylesheet" type="text/css" />
    <link href="http://jic.makepolo.net/css/admin/admin.css" rel="stylesheet" type="text/css" />
    <link href="http://jic.makepolo.net/css/admin/login.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://jic.makepolo.net/js/jquery/jquery-1.4.2.js"></script>
</head>
<body>

<h1>img list</h1>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/app1/add/">add</a>
{% if content_list %}
<div class="maink">
<table width="100%" border="0" cellspacing="0" cellpadding="10" class="listsearch">
<tr>
    <td>id</td>
    <td>title</td>
    <td>img_url</td>
    <td>link_url</td>
	<td>sort</td>
    <td>type</td>
    <td>state</td>
	<td>createtime</td>
	<td>modifytime</td>
	<td>operate</td>
  </tr>
{% for con in content_list %}
  <tr>
    <td>{{con.id}}</td>
    <td>{{con.title}}</td>
    <td><img src="http://jic.makepolo.net{{con.img_url}}" style="width:100px;height:50px"/></td>
	<td>{{con.link_url}}</td>
	<td>{{con.sort}}</td>
	<td>{{ con.type }}</td>
	<td>{{ con.state }}</td>
	<td>{{con.createdate}}</td>
	<td>{{con.modifydate}}</td>
	<td>
	<a href="/app1/update/?id={{ con.id }}">update</a>&nbsp;&nbsp;
	<a href="/app1/delete/?id={{ con.id }}">delete</a>
	</td>
  </tr>
{% endfor%}
</table>
<table width="100%" height="20" border="0" cellpadding="0" cellspacing="0" class="mainlist3">
<tr>
	<td width="28%" height="31"></td>
	<td width="68%"></td>
</tr>
</table>
</div>
{% endif %} 
</body>
</html>